{% extends "base.html" %}
{% block content %}
  <section id="education" class="container py-5">

    <div class="text-center mb-5">
        <h2 class="fw-bold">Education</h2>
        <p class="text-muted">My Academic Journey</p>
    </div>

    <div class="row g-4">

        <!-- B.Tech -->
        <div class="col-md-4">
            <div class="card h-100 shadow-sm border-0">
                <div class="card-body">
                    <h4 class="card-title">🎓 B.Tech</h4>
                    <h6 class="text-primary">Artificial Inteligence And Data Science</h6>

                    <p class="mb-1">
                        <strong>College:</strong><br>
                        Corporate Institute science And Technology Bhopal
                    </p>

                    <p class="mb-1">
                        <strong>CGPA:</strong> 7.71
                    </p>

                    <p class="text-muted">
                        2021 - 2025
                    </p>
                </div>
            </div>
        </div>

        <!-- Class 12 -->
        <div class="col-md-4">
            <div class="card h-100 shadow-sm border-0">
                <div class="card-body">
                    <h4 class="card-title">🏫 Class XII</h4>

                    <p class="mb-1">
                        <strong>School:</strong><br>
                        saraswati vidhya mandir Higher Secondary School Bankhedi
                    </p>

                    <p class="mb-1">
                        <strong>Percentage:</strong> 74%
                    </p>

                    <p class="text-muted">
                        2021
                    </p>
                </div>
            </div>
        </div>

        <!-- Class 10 -->
        <div class="col-md-4">
            <div class="card h-100 shadow-sm border-0">
                <div class="card-body">
                    <h4 class="card-title">🏫 Class X</h4>

                    <p class="mb-1">
                        <strong>School:</strong><br>
                        Saraswati vidhya mandir Secondary School Bankhedi
                    </p>

                    <p class="mb-1">
                        <strong>Percentage:</strong> 73%
                    </p>

                    <p class="text-muted">
                        2019
                    </p>
                </div>
            </div>
        </div>

    </div>

</section>
{% endblock content %}